<!--//Creacion Atributos dinamicos Sprint_1-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<!--Referencia a archivo .css Sp1-->
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div id="app">
<!--Directivas v-bind, v-on:mouseover para cambios con el movimiendo del mouse - tarea control flujo con directivas, Sp2-->      
      <img v-bind:src="img" v-bind:alt="name" 
      v-on:mouseover="toggleShowPrices"
      v-on:mouseOut="toggleShowPrices">
<!--Directivas v-if, v-else dentro de h1 para condicionar cambios - tarea control flujo con directivas, Sp2-->
      <h1>{{ name }}

      <span v-if="changePercent > 0">👍</span>
      <span v-else-if="changePercent < 0">👎</span>
      <span v-else>🤞</span>
      <br>
<!--Directiva v-on, para en determinado evento ejecutar accion con click mostrar precios-  Tarea Manejo de Eventos, Sp2-->
    <span v-on:click="toggleShowPrices"> {{ showPrices ? '🙈' : '🙉' }}  Ver Precios</span>
      </h1>


<!--Directiva v-show, muestra precios si True-  Tarea Manejo de Eventos, Sp2-->
      <ul v-show=showPrices>
        <li v-for="(price, indice) in pricesWithDays" v-bind:key="price.day"> {{ indice }} = {{price.day}} = {{ price.value }}</li>
      </ul>
      
    </div>
  <!--Instalacion de VUE a traves del script Sp1-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <!--Referencia al archivo .js Sp1-->
    <script src="app.js"></script>
  </body>
  </html>