<!--//Creacion Atributos dinamicos Sprint_1-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<!--Referencia a archivo .css Sp1-->
  <link rel="stylesheet" href="./styles.css">
</head>
<body>

<!--Aplicacion directiva v-bind con atributo style para cambio color de fondo - tarea Ajuste de Estilos en tiempo real, Sp2-->
  <div id="app"  v-bind:style="{ background: '#' + color }">
<!--Directivas v-bind, v-on:mouseover para cambios con el movimiendo del mouse - tarea control flujo con directivas, Sp2-->      
      <img v-bind:src="img" v-bind:alt="name" 
      v-on:mouseover="toggleShowPrices"
      v-on:mouseOut="toggleShowPrices">
<!--v-bind:class para que con una condicion cambie el color en css - tarea control flujo con directivas, Sp2-->
    <h1 v-bind:class="changePercent > 0 ? 'green' : 'red' ">{{title}}

      <span v-if="changePercent > 0">👍</span>
      <span v-else-if="changePercent < 0">👎</span>
      <span v-else>🤞</span>
      

    <span v-on:click="toggleShowPrices"> {{ showPrices ? '🙈' : '🙉' }} </span>
      </h1>
<!-- Se aplica directiva v-model para entrada de numero y valor convertido de Bitcoin Tarea Modelado Two way data bindign - Sp2 -->
      <input type="number" v-model="value">
      <span>{{ convertedValue }}</span>
<!--Determinar color de precios-Clase por defecto,  Tarea Creacion de Clases en tiempo real, Sp2-->
      <ul v-show=showPrices>
        <li 

          class="uppercase"
          v-bind:class="{ orange: price.value  == priceToday, red: price.value < priceToday, green: price.value > priceToday }"
          v-for="(price, indice) in pricesWithDays"
          v-bind:key="price.day"> 
          {{ indice }} = {{price.day}} = {{ price.value }}
        </li>
      </ul>
      
    </div>
  <!--Instalacion de VUE a traves del script Sp1-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <!--Referencia al archivo .js Sp1-->
    <script src="app.js"></script>
  </body>
  </html>